.menu {
  margin-left: 10px;
}
.menu-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.menu-list ul li {
  margin: 0 20px;
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
}

.menu-list ul li:hover {
  background-color: #0056b3;
}

.menu-content div {
  /* Styles for menu content */
}