.remote-api-search-bar .search-form {
    display: flex;
    align-items: center;
}

.remote-api-search-bar .form-control {
    flex-grow: 1; /* Input field takes up the available space */
    margin-right: 10px; /* Space between input field and button */
}

.remote-api-search-bar .search-button {
    background: none;
    border: none;
    cursor: pointer;
}
