.Orders {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px; /* Adjust the width as necessary */
    margin: 20px auto; /* Centering the card */
  }
  
  .Orders h2 {
    color: #333; /* Dark grey color for the title */
    margin-bottom: 20px;
  }
  
  .order {
    border: 1px solid #e7e7e7; /* Light grey border */
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .order h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .order p {
    color: #666; /* Lighter grey color for the text */
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 5px;
  }
  
  .order ul {
    list-style-type: none; /* Removes the default list style */
    padding: 0; /* Resets default padding */
    margin-bottom: 10px;
  }
  
  .order li {
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .order li:last-child {
    margin-bottom: 0;
  }
  
  .order p.total {
    color: #333; /* Darker text for total amount */
    font-weight: bold;
  }
  