/* LoginForm.css */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 100px; /* Adjust as needed */
}

.form-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding does not affect width */
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Spacing above the button */
}

.form-container button:hover {
    background-color: #45a049;
}
