.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.modal-content {
  display: flex;
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  width: auto;
  height: auto;
  max-height: 90vh; /* Limit the height to 90% of the viewport */
  overflow-y: auto; /* Add scroll for overflowing content */
}

.modal-content h2 {
  font-size: 24px; /* Larger font size */
  font-weight: bold; /* Bold font weight */
  color: #333; /* Darker color */
  margin-bottom: 10px; /* Space below the title */
}

.modal-content p {
  font-size: 16px; /* Smaller font size */
  font-weight: normal; /* Normal font weight */
  color: #707070; /* Lighter color */
  margin-bottom: 8px; /* Space below the paragraph */
}

.cart-icon {
  /* position: absolute; */
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(244, 243, 231);
  border-radius: 6px;
  transition: all 0.3s ease;
}

.sandwich-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sandwich-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-section {
  flex: 1;
  overflow-y: auto;
  max-height: calc(90vh - 100px); /* Adjust the height to account for other modal content */
  padding-right: 15px; /* Add padding to allow space for the scrollbar */
}

.review {
  border-bottom: 1px solid #ccc; /* Light grey line */
  padding-bottom: 10px; /* Space between the text and the line */
  margin-bottom: 10px; /* Space between reviews */
}
.reviewer-pic {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Make height and width the same for a circle */
  border-radius: 50%; /* This creates the circle shape */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  margin-right: 10px; /* Optional: Adds some space between the image and the text */
}

.review-header {
  display: flex;
  align-items: center;
}

.reviewer-info {
  display: flex;
  flex-direction: column;
}

/* .rating {
  
}

.review-date {
  
} */

.review-body {
  margin-top: 10px; /* Adds space between the header and the review body */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(244, 243, 231);
  color: #707070; 
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.close-button:hover {
  background-color: rgb(244, 243, 231); 
}