/* Styles for the PaymentMethods component */
.PaymentMethods {
  background-color: rgb(244, 243, 231) !important;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px; /* Adjust the width as necessary */
  margin: 20px auto; /* Centering the card */
}

.PaymentMethods h2 {
  color: #333; /* Dark grey color for the title */
  margin-bottom: 20px;
}

.PaymentMethods div {
  background-color: rgb(244, 243, 231) !important;
  border: 1px solid #e7e7e7; /* Light grey border */
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.PaymentMethods p {
  color: #666; /* Lighter grey color for the text */
  font-size: 16px;
  line-height: 1.6;
}

.PaymentMethods strong {
  color: #4CAF50; /* Green color to highlight the default payment method */
  font-weight: bold;
}

.PaymentMethods input, .PaymentMethods select {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Add styles for buttons */
.PaymentMethods button {
  padding: 10px 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  background-color: #5cb85c; /* Green background for the save button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Adjustments for the add new card section */
.new-card {
  border-top: 2px dashed #ddd;
  padding-top: 20px;
  margin-top: 20px;
}

.new-card h3 {
  color: #333;
  margin-bottom: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .PaymentMethods {
    max-width: 100%;
    padding: 10px;
  }

  .PaymentMethods input, .PaymentMethods select, .PaymentMethods button {
    width: 100%; /* Full width on smaller screens */
  }
}
